@model ChiTietKyLuatViewModels.ChiTietKyLuatRequest;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ChiTietKyLuat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NgayViPham" class="control-label"></label>
                <input asp-for="NgayViPham" class="form-control" />
                <span asp-validation-for="NgayViPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LyDo" class="control-label"></label>
                <input asp-for="LyDo" class="form-control" />
                <span asp-validation-for="LyDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaKL" class="control-label"></label>
                <select asp-for="MaKL" class ="form-control" asp-items="ViewBag.MaKL"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label"></label>
                <select asp-for="MaNV" class ="form-control" asp-items="ViewBag.MaNV"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
