@model ChamCongViewModels.ChamCongViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ChamCong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaCC" />
            <div class="form-group">
                <label asp-for="NgayChamCong" class="control-label"></label>
                <input asp-for="NgayChamCong" class="form-control" />
                <span asp-validation-for="NgayChamCong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioVao" class="control-label"></label>
                <input asp-for="GioVao" class="form-control" />
                <span asp-validation-for="GioVao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioRa" class="control-label"></label>
                <input asp-for="GioRa" class="form-control" />
                <span asp-validation-for="GioRa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoGioTangCa" class="control-label"></label>
                <input asp-for="SoGioTangCa" class="form-control" />
                <span asp-validation-for="SoGioTangCa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label"></label>
                <select asp-for="MaNV" class="form-control" asp-items="ViewBag.MaNV"></select>
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
